<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- spring声明式事务 -->
	<!-- 定义JDBC事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 定义通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="save*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="delete*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="update*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="regist*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="record*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="login*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="insert*" propagation="REQUIRED" isolation="READ_COMMITTED"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 定义切面bean -->
	<bean id="logger" class="org.zhiqiang.lzw.aspect.LoggerAspect"/>
	
	
	<!-- 将切点与通知整合 -->
	<aop:config>
		<aop:pointcut expression="execution(* org.zhiqiang.lzw.service..*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
		<!-- 定义切面 -->
		<aop:aspect id="loggerAspect" ref="logger">
			<!-- 环绕通知 -->
			<aop:around method="record" pointcut="(execution(* org.zhiqiang.lzw.service..*.save*(..))
											   or execution(* org.zhiqiang.lzw.service..*.update*(..))
											   or execution(* org.zhiqiang.lzw.service..*.insert*(..))
											   or execution(* org.zhiqiang.lzw.service..*.add*(..))
											   or execution(* org.zhiqiang.lzw.service..*.login*(..)))
											   and !bean(logService)
											"/>
		</aop:aspect>
	</aop:config>
	
</beans>
