<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	
	<!-- 组件扫描 -->
	<context:component-scan base-package="org.zhiqiang.lzw.web"/>
	
	<!-- 
		静态资源解析
		包括:js/css/img...
	 -->
	<mvc:resources location="/page/newPagePlan/" mapping="/page/newPagePlan/**"/>
	<mvc:resources location="/menu/" mapping="/menu/**"/>
	<mvc:resources location="/ui/" mapping="/ui/**"/>
	
	<!-- 注解驱动 ,代替两个注解映射器和适配器-->
	<mvc:annotation-driven conversion-service="MyConversionService"/>
	<mvc:annotation-driven/>
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	
	<!-- 定义拦截器 -->
	<!-- <bean id="myInterceptor" class="com.kt.intercepter.MyIntercepter">
		<property name="startHour" value="9"/>
		<property name="endHour" value="19"/>
	</bean> -->
	
	<!-- 注册拦截器 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/index.do"/>拦截路径
			<ref bean="myInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<mvc:interceptors>
		<!-- 权限拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/*.do" />
			<bean class="org.zhiqiang.lzw.interceptor.CheckPrivilegeInterceptor"/>
		</mvc:interceptor> 
	</mvc:interceptors>
	
	
	<!-- 
		自定义参数绑定
		这个bean需要注册到处理器适配器中，因为是适配器完成controller的参数绑定 
	-->
	<bean id="MyConversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<list>
				<!-- 日期类型转换 -->
				<bean class="org.zhiqiang.lzw.converter.DateConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- 
		全局异常处理器 
		只要配置一个bean并且这个bean实现了HandlerExceptionResolver接口，
		就能被识别为全局异常处理器，全局异常处理器只能有一个
	-->
	<bean class="org.zhiqiang.lzw.exception.CustomExceptionResolver"/>
</beans>
