<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhiqiang.lzw.mapping.CodeRuleMapper">
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.CodeRule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="areaPrefix" jdbcType="VARCHAR" property="areaprefix" />
    <result column="areaTime" jdbcType="VARCHAR" property="areatime" />
    <result column="glideBit" jdbcType="INTEGER" property="glidebit" />
    <result column="currentCode" jdbcType="VARCHAR" property="currentcode" />
    <result column="tabName" jdbcType="VARCHAR" property="tabname" />
    <result column="available" jdbcType="CHAR" property="available" />
    <result column="nextseq" jdbcType="VARCHAR" property="nextseq" />
    <result column="curDate" jdbcType="VARCHAR" property="curdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module, areaPrefix, areaTime, glideBit, currentCode, tabName, available, nextseq, 
    curDate
  </sql>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
  	select 
  	<include refid="Base_Column_List" />
    from sys_code_rule
    <where>
    	<if test="module != null">
    		module like #{module}
    	</if>
    </where>
  	limit ${pageBean.pageIndex},${pageBean.pageSize}
  </select>
  
  <select id="selectTotalRecords" resultType="Integer" parameterType="String">
  	select count(1)
  	from sys_code_rule
  	<where>
  		<if test="value != null">
  			module like #{value}
  		</if>
  	</where>
  </select>
  
  <select id="getAllCodeRules" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from sys_code_rule
  </select>
  
  <!-- 批量删除 -->
  <delete id="deleteMoreByIds" parameterType="Integer[]">
  	DELETE FROM SYS_CODE_RULE where ID IN
  	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
  		#{item}
  	</foreach>
  </delete>
  
  <select id="selectCodeRuleByTable" parameterType="string" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from sys_code_rule
    where tabName = #{tabName,jdbcType=VARCHAR} 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_code_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_code_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.CodeRule">
    insert into sys_code_rule (id, module, areaPrefix, 
      areaTime, glideBit, currentCode, 
      tabName, available, nextseq, 
      curDate)
    values (#{id,jdbcType=INTEGER}, #{module,jdbcType=VARCHAR}, #{areaprefix,jdbcType=VARCHAR}, 
      #{areatime,jdbcType=VARCHAR}, #{glidebit,jdbcType=INTEGER}, #{currentcode,jdbcType=VARCHAR}, 
      #{tabname,jdbcType=VARCHAR}, #{available,jdbcType=CHAR}, #{nextseq,jdbcType=VARCHAR}, 
      #{curdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.CodeRule">
    insert into sys_code_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="areaprefix != null">
        areaPrefix,
      </if>
      <if test="areatime != null">
        areaTime,
      </if>
      <if test="glidebit != null">
        glideBit,
      </if>
      <if test="currentcode != null">
        currentCode,
      </if>
      <if test="tabname != null">
        tabName,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="nextseq != null">
        nextseq,
      </if>
      <if test="curdate != null">
        curDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="areaprefix != null">
        #{areaprefix,jdbcType=VARCHAR},
      </if>
      <if test="areatime != null">
        #{areatime,jdbcType=VARCHAR},
      </if>
      <if test="glidebit != null">
        #{glidebit,jdbcType=INTEGER},
      </if>
      <if test="currentcode != null">
        #{currentcode,jdbcType=VARCHAR},
      </if>
      <if test="tabname != null">
        #{tabname,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=CHAR},
      </if>
      <if test="nextseq != null">
        #{nextseq,jdbcType=VARCHAR},
      </if>
      <if test="curdate != null">
        #{curdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 根据对应的表名修改下一流水号 -->
  <update id="updateSerialNumberByTable" parameterType="java.util.Map">
  	update sys_code_rule
  	<set>
  		<if test="serialNumber != null">
  			nextseq = #{serialNumber,jdbcType=VARCHAR},
  		</if>
  		<if test="curDate != null">
  			curDate = #{curDate,jdbcType=VARCHAR}
  		</if>
  	</set>
  	where tabName = #{tableName,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.CodeRule">
    update sys_code_rule
    <set>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="areaprefix != null">
        areaPrefix = #{areaprefix,jdbcType=VARCHAR},
      </if>
      <if test="areatime != null">
        areaTime = #{areatime,jdbcType=VARCHAR},
      </if>
      <if test="glidebit != null">
        glideBit = #{glidebit,jdbcType=INTEGER},
      </if>
      <if test="currentcode != null">
        currentCode = #{currentcode,jdbcType=VARCHAR},
      </if>
      <if test="tabname != null">
        tabName = #{tabname,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=CHAR},
      </if>
      <if test="nextseq != null">
        nextseq = #{nextseq,jdbcType=VARCHAR},
      </if>
      <if test="curdate != null">
        curDate = #{curdate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.CodeRule">
    update sys_code_rule
    set module = #{module,jdbcType=VARCHAR},
      areaPrefix = #{areaprefix,jdbcType=VARCHAR},
      areaTime = #{areatime,jdbcType=VARCHAR},
      glideBit = #{glidebit,jdbcType=INTEGER},
      currentCode = #{currentcode,jdbcType=VARCHAR},
      tabName = #{tabname,jdbcType=VARCHAR},
      available = #{available,jdbcType=CHAR},
      nextseq = #{nextseq,jdbcType=VARCHAR},
      curDate = #{curdate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>