<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhiqiang.lzw.mapping.GroupMapper" >
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Group" >
    <id column="groupId" property="groupid" jdbcType="INTEGER" />
    <result column="groupName" property="groupname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.zhiqiang.lzw.entity.Group" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    groupId, groupName
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_group
    where groupId = #{groupid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_group
    where groupId = #{groupid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Group" >
    insert into sys_group (groupId, groupName, remark
      )
    values (#{groupid,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Group" >
    insert into sys_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="groupname != null" >
        groupName,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Group" >
    update sys_group
    <set >
      <if test="groupname != null" >
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.zhiqiang.lzw.entity.Group" >
    update sys_group
    set groupName = #{groupname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Group" >
    update sys_group
    set groupName = #{groupname,jdbcType=VARCHAR}
    where groupId = #{groupid,jdbcType=INTEGER}
  </update>
</mapper>