<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhiqiang.lzw.mapping.LogMapper" >
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="cnname" property="cnname" jdbcType="VARCHAR" />
    <result column="actionType" property="actiontype" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="actionDate" property="actiondate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.zhiqiang.lzw.entity.Log" extends="BaseResultMap" >
    <result column="actionContent" property="actioncontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, cnname, actionType, result, actionDate
  </sql>
  <sql id="Blob_Column_List" >
    actionContent
  </sql>
  
  <!-- 带条件查询操作日志总数 -->
  <select id="selectLogCount" resultType="Integer" parameterType="Map">
  	SELECT COUNT(1) FROM ${tableName}
  	<where>
  		<if test="cnname!=null">
  			cnname LIKE #{cnname}
  		</if>
  	</where>
  </select>
  
  <!-- 带条件分页查询 -->
  <select id="selectLogByPage" resultMap="ResultMapWithBLOBs">
  	SELECT  
  	<include refid="Base_Column_List"/>,
  	<include refid="Blob_Column_List"/>
  	FROM ${tableName} 
  	<where>
  		<if test="cnname!=null">
  			cnname LIKE #{cnname}
  		</if>
  	</where>
  	 ORDER BY id DESC LIMIT #{pageBean.pageIndex},#{pageBean.pageSize}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 创建日志表 Mybatis如何执行DDL操作？？？？-->
  <!-- <update id="createLogTable" parameterType="String">
  	create table if not exists #{tableName,jdbcType=VARCHAR} like sys_log;	
  </update> -->
  
  <!-- 插入日志到固定日志表 -->
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Log" >
    insert into sys_log (id, userName, cnname, 
      actionType, result, actionDate, 
      actionContent)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{cnname,jdbcType=VARCHAR}, 
      #{actiontype,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{actiondate,jdbcType=VARCHAR}, 
      #{actioncontent,jdbcType=LONGVARCHAR})
  </insert>
  
  <!-- 
  	插入日志到指定日志表 
  	注意：使用${}需要设置statementType="STATEMENT"，非预编译状态
  		#{}将传入的参数当成一个字符串，会给传入的参数加一个双引号
  		${}将传入的参数直接显示生成在sql中，不会添加引号，如果是动态调用表名，需要手动加入单引号，也会有sql注入的风险
  -->
  <insert id="insertToSpecifiedLogTable" parameterType="map" statementType="STATEMENT">
    insert into ${tableName} 
      <trim prefix="(" suffix=")" suffixOverrides=",">
      	<if test="log.username!=null">   
      		userName,    
      	</if>  
      	<if test="log.cnname!=null">    
      		cnname,
      	</if>
      	<if test="log.actiontype!=null">
      		actionType,
      	</if>
      	<if test="log.result!=null">
      		result,
      	</if>
      	<if test="log.actiondate!=null">
      		actionDate,
      	</if>
      	<if test="log.actioncontent!=null">
      		actionContent
      	</if>
      </trim>
      <trim prefix="values(" suffix=")" suffixOverrides=",">
      	<if test="log.username!=null">
      		${log.username},
      	</if>
      	<if test="log.cnname!=null">
      		${log.cnname},
      	</if>
      	<if test="log.actiontype!=null">
      		${log.actionType},
      	</if>
      	<if test="log.result!=null">
      		${log.result},
      	</if>
      	<if test="log.actiondate!=null">
      		${log.actionDate},
      	</if>
      	<if test="log.actioncontent!=null">
      		${log.actionContent}
      	</if>
      </trim>
  </insert>
  
  
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Log" >
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="cnname != null" >
        cnname,
      </if>
      <if test="actiontype != null" >
        actionType,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="actiondate != null" >
        actionDate,
      </if>
      <if test="actioncontent != null" >
        actionContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="actiontype != null" >
        #{actiontype,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="actiondate != null" >
        #{actiondate,jdbcType=VARCHAR},
      </if>
      <if test="actioncontent != null" >
        #{actioncontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        cnname = #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="actiontype != null" >
        actionType = #{actiontype,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="actiondate != null" >
        actionDate = #{actiondate,jdbcType=VARCHAR},
      </if>
      <if test="actioncontent != null" >
        actionContent = #{actioncontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    set userName = #{username,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      actionType = #{actiontype,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      actionDate = #{actiondate,jdbcType=VARCHAR},
      actionContent = #{actioncontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    set userName = #{username,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      actionType = #{actiontype,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      actionDate = #{actiondate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>