<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhiqiang.lzw.mapping.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Privilege" >
    <id column="privilegeId" property="privilegeid" jdbcType="INTEGER" />
    <result column="privilegeName" property="privilegename" jdbcType="VARCHAR" />
    <result column="privilegeUrl" property="privilegeurl" jdbcType="VARCHAR" />
    <result column="privilegeCode" property="privilegecode" jdbcType="BIGINT" />
    <result column="privilegePos" property="privilegepos" jdbcType="INTEGER" />
    <result column="privalegeComm" property="privalegecomm" jdbcType="BIT" />
    <result column="menuId" property="menuid" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="org.zhiqiang.lzw.entity.PrivilegeCodeAndPos" id="CodeAndPosResultMap">
  	<result column="maxpos" property="pos"/>
  	<result column="maxcode" property="code"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    privilegeId, privilegeName, privilegeUrl, privilegeCode, privilegePos, privalegeComm, 
    menuId
  </sql>
  
  <!-- 根据主键查询权限 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_privilege
    where privilegeId = #{privilegeid,jdbcType=INTEGER}
  </select>
  
  <!-- 查询所有权限 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/> 
  	from sys_privilege
  </select>
  
  <!-- 根据角色Id查询角色所有权限 -->
  <select id="selectPrivilegeByRoleId" resultMap="BaseResultMap" parameterType="Integer">
  	SELECT p.privilegeId, privilegeName, privilegeUrl, privilegeCode, privilegePos, privalegeComm, menuId  
  	FROM sys_role_privilege rp 
  	INNER JOIN sys_role r ON rp.roleId=r.roleId 
  	INNER JOIN sys_privilege p ON rp.privilegeId=p.privilegeId 
  	WHERE rp.roleId=#{value}
  </select>
  
  
  
  <!-- 带条件查询总记录数 -->
  <select id="selectCount" resultType="Integer" parameterType="String">
  	select count(1) from sys_privilege p 
  	<where>
  		<if test="value!=null">
		  	p.privilegeName like #{value}
  		</if>
  	</where>
  </select>
  
  
  <!-- 分页带条件查询 -->  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="Map" >
  	SELECT <include refid="Base_Column_List"/> 
  	FROM sys_privilege p 
  	<where>
  		<if test="privilegeName!=null">
		  	p.privilegeName like #{privilegeName}
  		</if>
  	</where>
  	LIMIT ${pageBean.pageIndex},${pageBean.pageSize};
  </select>
  
  <!-- 查询当前最大的权限位以及最大权限为对应的最大权限 -->
  <select id="selectMaximumPos" resultMap="CodeAndPosResultMap">
  	SELECT MAX(privilegePos) maxpos,MAX(privilegeCode) maxcode 
  	FROM sys_privilege p 
  	WHERE p.privilegePos = (SELECT MAX(privilegePos) FROM sys_privilege);
  </select>
  
  <!-- 批量删除权限 -->
  <delete id="deletePrivilegeByBatch" parameterType="Integer[]">
  	DELETE FROM sys_privilege WHERE privilegeId IN
  	<foreach collection="array" item="item" open="(" close=")" separator=",">
  		${item}
  	</foreach>
  </delete>
  
  <!-- 根据权限编号删除角色权限关系记录 -->
  <delete id="deleteRolePrivilegeByPid" parameterType="Integer">
  	DELETE FROM sys_role_privilege WHERE privilegeId=#{value}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_privilege
    where privilegeId = #{privilegeid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Privilege" >
    insert into sys_privilege (privilegeId, privilegeName, privilegeUrl, 
      privilegeCode, privilegePos, privalegeComm, 
      menuId)
    values (#{privilegeid,jdbcType=INTEGER}, #{privilegename,jdbcType=VARCHAR}, #{privilegeurl,jdbcType=VARCHAR}, 
      #{privilegecode,jdbcType=BIGINT}, #{privilegepos,jdbcType=INTEGER}, #{privalegecomm,jdbcType=BIT}, 
      #{menuid,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Privilege" >
    insert into sys_privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="privilegeid != null" > 
        privilegeId,
      </if>
      <if test="privilegename != null" >
        privilegeName,
      </if>
      <if test="privilegeurl != null" >
        privilegeUrl,
      </if>
      <if test="privilegecode != null" >
        privilegeCode,
      </if>
      <if test="privilegepos != null" >
        privilegePos,
      </if>
      <if test="privalegecomm != null" >
        privalegeComm,
      </if>
      <if test="menuid != null" >
        menuId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="privilegeid != null" >
        #{privilegeid,jdbcType=INTEGER},
      </if>
      <if test="privilegename != null" >
        #{privilegename,jdbcType=VARCHAR},
      </if>
      <if test="privilegeurl != null" >
        #{privilegeurl,jdbcType=VARCHAR},
      </if>
      <if test="privilegecode != null" >
        #{privilegecode,jdbcType=BIGINT},
      </if>
      <if test="privilegepos != null" >
        #{privilegepos,jdbcType=INTEGER},
      </if>
      <if test="privalegecomm != null" >
        #{privalegecomm,jdbcType=BIT},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键更新部分列 -->
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Privilege" >
    update sys_privilege
    <set >
      <if test="privilegename != null" >
        privilegeName = #{privilegename,jdbcType=VARCHAR},
      </if>
      <if test="privilegeurl != null" >
        privilegeUrl = #{privilegeurl,jdbcType=VARCHAR},
      </if>
      <if test="privilegecode != null" >
        privilegeCode = #{privilegecode,jdbcType=BIGINT},
      </if>
      <if test="privilegepos != null" >
        privilegePos = #{privilegepos,jdbcType=INTEGER},
      </if>
      <if test="privalegecomm != null" >
        privalegeComm = #{privalegecomm,jdbcType=BIT},
      </if>
      <if test="menuid != null" >
        menuId = #{menuid,jdbcType=VARCHAR},
      </if>
    </set>
    where privilegeId = #{privilegeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Privilege" >
    update sys_privilege
    set privilegeName = #{privilegename,jdbcType=VARCHAR},
      privilegeUrl = #{privilegeurl,jdbcType=VARCHAR},
      privilegeCode = #{privilegecode,jdbcType=BIGINT},
      privilegePos = #{privilegepos,jdbcType=INTEGER},
      privalegeComm = #{privalegecomm,jdbcType=BIT},
      menuId = #{menuid,jdbcType=VARCHAR}
    where privilegeId = #{privilegeid,jdbcType=INTEGER}
  </update>
</mapper>