<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zhiqiang.lzw.mapping.ProvinceMapper">
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Province">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pycode" jdbcType="VARCHAR" property="pycode" />
  </resultMap>
  
  <!-- sql片段 -->
  <sql id="Base_Column_List">
    id, name, pycode
  </sql>
  
  <!-- 带条件查询分页查询 -->
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
  	select 
  	<include refid="Base_Column_List" />
    from b_province
    order by id desc 
  	limit ${pageBean.pageIndex},${pageBean.pageSize}
  </select>
  
  <!-- 获取所有记录数 -->
  <select id="getCounts" resultType="int">
  	select count(1) from b_province
  </select>
  
  <!-- 获取所有记录 -->
  <select id="getAllProvinces" resultMap="BaseResultMap">
  	select 
	<include refid="Base_Column_List" />
	from b_province
  </select>
  
  <!-- 分页获取记录 -->
  <select id="getProvinceByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
	<include refid="Base_Column_List" />
	from b_province limit #{offset} , #{pageSize}
  </select>
  
  <!-- 根据主键ID查询详情 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_province
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据省份名称模糊查询 -->
  <select id="selectProvinceByName" resultMap="BaseResultMap" parameterType="string">
  	SELECT 
	<include refid="Base_Column_List" />
	FROM b_province  
	WHERE 
	<if test="str!=null">
		name like '%' '#{str,jdbcType=varchar}' '%' 
	</if>
  </select>
  
  <!-- 根据主键ID删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Province">
    insert into b_province (id, name, pycode
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pycode,jdbcType=VARCHAR}
      )
  </insert>
  
  <!-- 新增 -->
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Province">
    insert into b_province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pycode != null">
        pycode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null">
        #{pycode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Province">
    update b_province
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null">
        pycode = #{pycode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 修改 -->
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Province">
    update b_province
    set name = #{name,jdbcType=VARCHAR},
      pycode = #{pycode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>