<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhiqiang.lzw.mapping.UserMapper" >
  
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cnname" property="cnname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="beginDate" property="begindate" jdbcType="DATE" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="groupId" property="groupid" jdbcType="INTEGER" />
    <result column="accessFileLevel" property="accessfilelevel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="commendMan" property="commendman" jdbcType="VARCHAR" />
    <result column="movetelePhone" property="movetelephone" jdbcType="VARCHAR" />
    <result column="nowAddress" property="nowaddress" jdbcType="VARCHAR" />
    <result column="nowtelePhone" property="nowtelephone" jdbcType="VARCHAR" />
    <result column="identityCode" property="identitycode" jdbcType="VARCHAR" />
    <result column="insuranceCode" property="insurancecode" jdbcType="VARCHAR" />
    <result column="instancyLinkman" property="instancylinkman" jdbcType="VARCHAR" />
    <result column="instancytelePhone" property="instancytelephone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="personnelType" property="personneltype" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="workDate" property="workdate" jdbcType="DATE" />
    <result column="highSchool" property="highschool" jdbcType="VARCHAR" />
    <result column="finishSchool" property="finishschool" jdbcType="VARCHAR" />
    <result column="finishSchoolDate" property="finishschooldate" jdbcType="DATE" />
    <result column="consortName" property="consortname" jdbcType="VARCHAR" />
    <result column="youngoneName" property="youngonename" jdbcType="VARCHAR" />
    <result column="officetelePhone" property="officetelephone" jdbcType="VARCHAR" />
    <result column="consorttelePhone" property="consorttelephone" jdbcType="VARCHAR" />
    <result column="consortCompany" property="consortcompany" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="org.zhiqiang.lzw.entity.UserWithBLOBs" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="avocation" property="avocation" jdbcType="LONGVARCHAR" />
    <result column="strongSuit" property="strongsuit" jdbcType="LONGVARCHAR" />
    <result column="commUniCate" property="communicate" jdbcType="LONGVARCHAR" />
    <result column="bringup" property="bringup" jdbcType="LONGVARCHAR" />
    <result column="organise" property="organise" jdbcType="LONGVARCHAR" />
    <result column="analyse" property="analyse" jdbcType="LONGVARCHAR" />
    <result column="planing" property="planing" jdbcType="LONGVARCHAR" />
    <result column="empolder" property="empolder" jdbcType="LONGVARCHAR" />
    <result column="relation" property="relation" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <!-- 用户自定义resultMap -->
  <resultMap id="UserCustomResultMap" type="org.zhiqiang.lzw.entity.custom.UserCustom" extends="ResultMapWithBLOBs"> 
    <!-- 用户与部门的一对一关系 -->
  	<association property="group" javaType="org.zhiqiang.lzw.entity.Group">
  		<id column="groupId" property="groupid"/>
  		<result column="groupname" property="groupname"/>
  		<result column="groupRemark" property="remark"/>
  	</association>
  	<!-- 用户与角色的多对多关系 -->
  	<collection property="roleCustoms" ofType="org.zhiqiang.lzw.entity.custom.RoleCustom"
  		select="org.zhiqiang.lzw.mapping.RoleMapper.selectByPrimaryKey" column="roleId">
  		<id column="roleId" property="roleid"/>
  		<result column="rolename" property="rolename"/>
  		<!-- 角色与权限的多对多关系 -->
		<collection property="privileges" ofType="org.zhiqiang.lzw.entity.Privilege">
			<id column="privilegeid" property="privilegeid"/>
			<result column="privilegename" property="privilegename"/>
			<result column="privilegeurl" property="privilegeurl"/>
			<result column="privilegecode" property="privilegecode"/>
			<result column="privilegepos" property="privilegepos"/>
			<result column="privalegecomm" property="privalegecomm"/>
			<result column="menuId" property="menuId"/>
		</collection>
  	</collection>
  	
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    id, creator, createTime, updater, updateTime, name, cnname, password, address, telephone, 
    email, beginDate, endDate, groupId, accessFileLevel, status, commendMan, movetelePhone, 
    nowAddress, nowtelePhone, identityCode, insuranceCode, instancyLinkman, instancytelePhone, 
    sex, birthday, personnelType, duty, workDate, highSchool, finishSchool, finishSchoolDate, 
    consortName, youngoneName, officetelePhone, consorttelePhone, consortCompany
  </sql>
  <sql id="Blob_Column_List" >
    remark, avocation, strongSuit, commUniCate, bringup, organise, analyse, planing, 
    empolder, relation
  </sql>
  
  <!-- 根据主键查询User --> 
  <select id="selectByPrimaryKey" resultMap="UserCustomResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    ,r.*
    from sys_user_role ur
    INNER JOIN sys_role r ON ur.roleId=r.roleId
	INNER JOIN sys_user u ON ur.userId=u.id;
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 
  	根据用户名和密码登录查询用户，并且关联查询角色，权限
  	注意:这些字段如果用sql片段的方式去引用的话，就不能指定到底是哪个表的字段，在多表连接查询时，如果有重名字段，就会出现冲突 
  -->
  <select id="selectByNameAndPassword" resultMap="UserCustomResultMap" parameterType="java.util.Map" >
    select distinct 
    u.id, creator, createTime, updater, updateTime, u.name, cnname, password, address, telephone, 
    email, beginDate, endDate, u.groupId, accessFileLevel, status, commendMan, movetelePhone, 
    nowAddress, nowtelePhone, identityCode, insuranceCode, instancyLinkman, instancytelePhone, 
    sex, birthday, personnelType, duty, workDate, highSchool, finishSchool, finishSchoolDate, 
    consortName, youngoneName, officetelePhone, consorttelePhone, consortCompany
    ,
    u.remark, avocation, strongSuit, commUniCate, bringup, organise, analyse, planing, 
    empolder, relation
    ,r.*,groupName,g.remark groupRemark
    from sys_user_role ur
    INNER JOIN sys_role r ON ur.roleId=r.roleId
	INNER JOIN sys_user u ON ur.userId=u.id
	INNER JOIN sys_group g ON u.groupId=g.groupId
    where u.name = #{name,jdbcType=VARCHAR}
    AND password = #{password,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询所有用户 -->
  <select id="selectAllUser" resultMap="BaseResultMap">
  	select  
  		<include refid="Base_Column_List" />
  	from sys_user;
  </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.UserWithBLOBs" >
    insert into sys_user (id, creator, createTime, 
      updater, updateTime, name, 
      cnname, password, address, 
      telephone, email, beginDate, 
      endDate, groupId, accessFileLevel, 
      status, commendMan, movetelePhone, 
      nowAddress, nowtelePhone, identityCode, 
      insuranceCode, instancyLinkman, instancytelePhone, 
      sex, birthday, personnelType, 
      duty, workDate, highSchool, 
      finishSchool, finishSchoolDate, consortName, 
      youngoneName, officetelePhone, consorttelePhone, 
      consortCompany, remark, avocation, 
      strongSuit, commUniCate, bringup, 
      organise, analyse, planing, 
      empolder, relation)
    values (#{id,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cnname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{begindate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{groupid,jdbcType=INTEGER}, #{accessfilelevel,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{commendman,jdbcType=VARCHAR}, #{movetelephone,jdbcType=VARCHAR}, 
      #{nowaddress,jdbcType=VARCHAR}, #{nowtelephone,jdbcType=VARCHAR}, #{identitycode,jdbcType=VARCHAR}, 
      #{insurancecode,jdbcType=VARCHAR}, #{instancylinkman,jdbcType=VARCHAR}, #{instancytelephone,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{personneltype,jdbcType=VARCHAR}, 
      #{duty,jdbcType=VARCHAR}, #{workdate,jdbcType=DATE}, #{highschool,jdbcType=VARCHAR}, 
      #{finishschool,jdbcType=VARCHAR}, #{finishschooldate,jdbcType=DATE}, #{consortname,jdbcType=VARCHAR}, 
      #{youngonename,jdbcType=VARCHAR}, #{officetelephone,jdbcType=VARCHAR}, #{consorttelephone,jdbcType=VARCHAR}, 
      #{consortcompany,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}, #{avocation,jdbcType=LONGVARCHAR}, 
      #{strongsuit,jdbcType=LONGVARCHAR}, #{communicate,jdbcType=LONGVARCHAR}, #{bringup,jdbcType=LONGVARCHAR}, 
      #{organise,jdbcType=LONGVARCHAR}, #{analyse,jdbcType=LONGVARCHAR}, #{planing,jdbcType=LONGVARCHAR}, 
      #{empolder,jdbcType=LONGVARCHAR}, #{relation,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.UserWithBLOBs" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cnname != null" >
        cnname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="begindate != null" >
        beginDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="accessfilelevel != null" >
        accessFileLevel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="commendman != null" >
        commendMan,
      </if>
      <if test="movetelephone != null" >
        movetelePhone,
      </if>
      <if test="nowaddress != null" >
        nowAddress,
      </if>
      <if test="nowtelephone != null" >
        nowtelePhone,
      </if>
      <if test="identitycode != null" >
        identityCode,
      </if>
      <if test="insurancecode != null" >
        insuranceCode,
      </if>
      <if test="instancylinkman != null" >
        instancyLinkman,
      </if>
      <if test="instancytelephone != null" >
        instancytelePhone,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="personneltype != null" >
        personnelType,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="workdate != null" >
        workDate,
      </if>
      <if test="highschool != null" >
        highSchool,
      </if>
      <if test="finishschool != null" >
        finishSchool,
      </if>
      <if test="finishschooldate != null" >
        finishSchoolDate,
      </if>
      <if test="consortname != null" >
        consortName,
      </if>
      <if test="youngonename != null" >
        youngoneName,
      </if>
      <if test="officetelephone != null" >
        officetelePhone,
      </if>
      <if test="consorttelephone != null" >
        consorttelePhone,
      </if>
      <if test="consortcompany != null" >
        consortCompany,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="avocation != null" >
        avocation,
      </if>
      <if test="strongsuit != null" >
        strongSuit,
      </if>
      <if test="communicate != null" >
        commUniCate,
      </if>
      <if test="bringup != null" >
        bringup,
      </if>
      <if test="organise != null" >
        organise,
      </if>
      <if test="analyse != null" >
        analyse,
      </if>
      <if test="planing != null" >
        planing,
      </if>
      <if test="empolder != null" >
        empolder,
      </if>
      <if test="relation != null" >
        relation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="accessfilelevel != null" >
        #{accessfilelevel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="commendman != null" >
        #{commendman,jdbcType=VARCHAR},
      </if>
      <if test="movetelephone != null" >
        #{movetelephone,jdbcType=VARCHAR},
      </if>
      <if test="nowaddress != null" >
        #{nowaddress,jdbcType=VARCHAR},
      </if>
      <if test="nowtelephone != null" >
        #{nowtelephone,jdbcType=VARCHAR},
      </if>
      <if test="identitycode != null" >
        #{identitycode,jdbcType=VARCHAR},
      </if>
      <if test="insurancecode != null" >
        #{insurancecode,jdbcType=VARCHAR},
      </if>
      <if test="instancylinkman != null" >
        #{instancylinkman,jdbcType=VARCHAR},
      </if>
      <if test="instancytelephone != null" >
        #{instancytelephone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="personneltype != null" >
        #{personneltype,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="workdate != null" >
        #{workdate,jdbcType=DATE},
      </if>
      <if test="highschool != null" >
        #{highschool,jdbcType=VARCHAR},
      </if>
      <if test="finishschool != null" >
        #{finishschool,jdbcType=VARCHAR},
      </if>
      <if test="finishschooldate != null" >
        #{finishschooldate,jdbcType=DATE},
      </if>
      <if test="consortname != null" >
        #{consortname,jdbcType=VARCHAR},
      </if>
      <if test="youngonename != null" >
        #{youngonename,jdbcType=VARCHAR},
      </if>
      <if test="officetelephone != null" >
        #{officetelephone,jdbcType=VARCHAR},
      </if>
      <if test="consorttelephone != null" >
        #{consorttelephone,jdbcType=VARCHAR},
      </if>
      <if test="consortcompany != null" >
        #{consortcompany,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="avocation != null" >
        #{avocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="strongsuit != null" >
        #{strongsuit,jdbcType=LONGVARCHAR},
      </if>
      <if test="communicate != null" >
        #{communicate,jdbcType=LONGVARCHAR},
      </if>
      <if test="bringup != null" >
        #{bringup,jdbcType=LONGVARCHAR},
      </if>
      <if test="organise != null" >
        #{organise,jdbcType=LONGVARCHAR},
      </if>
      <if test="analyse != null" >
        #{analyse,jdbcType=LONGVARCHAR},
      </if>
      <if test="planing != null" >
        #{planing,jdbcType=LONGVARCHAR},
      </if>
      <if test="empolder != null" >
        #{empolder,jdbcType=LONGVARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 修改用户所在部门 -->
  <update id="updateGroupIdForUser" parameterType="Map">
  	UPDATE sys_user u SET u.groupId = #{groupId}  WHERE u.id = #{id};
  </update>
  
  <!-- 批量修改用户所在部门 -->
  <update id="updateBatchGroupIdForUser" parameterType="Map">
  	UPDATE sys_user u SET u.groupId = #{groupId}  WHERE u.id in
  	<foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
  		#{item}
  	</foreach>
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.UserWithBLOBs" >
    update sys_user
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        cnname = #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="begindate != null" >
        beginDate = #{begindate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="groupid != null" >
        groupId = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="accessfilelevel != null" >
        accessFileLevel = #{accessfilelevel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="commendman != null" >
        commendMan = #{commendman,jdbcType=VARCHAR},
      </if>
      <if test="movetelephone != null" >
        movetelePhone = #{movetelephone,jdbcType=VARCHAR},
      </if>
      <if test="nowaddress != null" >
        nowAddress = #{nowaddress,jdbcType=VARCHAR},
      </if>
      <if test="nowtelephone != null" >
        nowtelePhone = #{nowtelephone,jdbcType=VARCHAR},
      </if>
      <if test="identitycode != null" >
        identityCode = #{identitycode,jdbcType=VARCHAR},
      </if>
      <if test="insurancecode != null" >
        insuranceCode = #{insurancecode,jdbcType=VARCHAR},
      </if>
      <if test="instancylinkman != null" >
        instancyLinkman = #{instancylinkman,jdbcType=VARCHAR},
      </if>
      <if test="instancytelephone != null" >
        instancytelePhone = #{instancytelephone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="personneltype != null" >
        personnelType = #{personneltype,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="workdate != null" >
        workDate = #{workdate,jdbcType=DATE},
      </if>
      <if test="highschool != null" >
        highSchool = #{highschool,jdbcType=VARCHAR},
      </if>
      <if test="finishschool != null" >
        finishSchool = #{finishschool,jdbcType=VARCHAR},
      </if>
      <if test="finishschooldate != null" >
        finishSchoolDate = #{finishschooldate,jdbcType=DATE},
      </if>
      <if test="consortname != null" >
        consortName = #{consortname,jdbcType=VARCHAR},
      </if>
      <if test="youngonename != null" >
        youngoneName = #{youngonename,jdbcType=VARCHAR},
      </if>
      <if test="officetelephone != null" >
        officetelePhone = #{officetelephone,jdbcType=VARCHAR},
      </if>
      <if test="consorttelephone != null" >
        consorttelePhone = #{consorttelephone,jdbcType=VARCHAR},
      </if>
      <if test="consortcompany != null" >
        consortCompany = #{consortcompany,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="avocation != null" >
        avocation = #{avocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="strongsuit != null" >
        strongSuit = #{strongsuit,jdbcType=LONGVARCHAR},
      </if>
      <if test="communicate != null" >
        commUniCate = #{communicate,jdbcType=LONGVARCHAR},
      </if>
      <if test="bringup != null" >
        bringup = #{bringup,jdbcType=LONGVARCHAR},
      </if>
      <if test="organise != null" >
        organise = #{organise,jdbcType=LONGVARCHAR},
      </if>
      <if test="analyse != null" >
        analyse = #{analyse,jdbcType=LONGVARCHAR},
      </if>
      <if test="planing != null" >
        planing = #{planing,jdbcType=LONGVARCHAR},
      </if>
      <if test="empolder != null" >
        empolder = #{empolder,jdbcType=LONGVARCHAR},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.zhiqiang.lzw.entity.UserWithBLOBs" >
    update sys_user
    set creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      beginDate = #{begindate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      groupId = #{groupid,jdbcType=INTEGER},
      accessFileLevel = #{accessfilelevel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      commendMan = #{commendman,jdbcType=VARCHAR},
      movetelePhone = #{movetelephone,jdbcType=VARCHAR},
      nowAddress = #{nowaddress,jdbcType=VARCHAR},
      nowtelePhone = #{nowtelephone,jdbcType=VARCHAR},
      identityCode = #{identitycode,jdbcType=VARCHAR},
      insuranceCode = #{insurancecode,jdbcType=VARCHAR},
      instancyLinkman = #{instancylinkman,jdbcType=VARCHAR},
      instancytelePhone = #{instancytelephone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      personnelType = #{personneltype,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      workDate = #{workdate,jdbcType=DATE},
      highSchool = #{highschool,jdbcType=VARCHAR},
      finishSchool = #{finishschool,jdbcType=VARCHAR},
      finishSchoolDate = #{finishschooldate,jdbcType=DATE},
      consortName = #{consortname,jdbcType=VARCHAR},
      youngoneName = #{youngonename,jdbcType=VARCHAR},
      officetelePhone = #{officetelephone,jdbcType=VARCHAR},
      consorttelePhone = #{consorttelephone,jdbcType=VARCHAR},
      consortCompany = #{consortcompany,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      avocation = #{avocation,jdbcType=LONGVARCHAR},
      strongSuit = #{strongsuit,jdbcType=LONGVARCHAR},
      commUniCate = #{communicate,jdbcType=LONGVARCHAR},
      bringup = #{bringup,jdbcType=LONGVARCHAR},
      organise = #{organise,jdbcType=LONGVARCHAR},
      analyse = #{analyse,jdbcType=LONGVARCHAR},
      planing = #{planing,jdbcType=LONGVARCHAR},
      empolder = #{empolder,jdbcType=LONGVARCHAR},
      relation = #{relation,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.User" >
    update sys_user
    set creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      beginDate = #{begindate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      groupId = #{groupid,jdbcType=INTEGER},
      accessFileLevel = #{accessfilelevel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      commendMan = #{commendman,jdbcType=VARCHAR},
      movetelePhone = #{movetelephone,jdbcType=VARCHAR},
      nowAddress = #{nowaddress,jdbcType=VARCHAR},
      nowtelePhone = #{nowtelephone,jdbcType=VARCHAR},
      identityCode = #{identitycode,jdbcType=VARCHAR},
      insuranceCode = #{insurancecode,jdbcType=VARCHAR},
      instancyLinkman = #{instancylinkman,jdbcType=VARCHAR},
      instancytelePhone = #{instancytelephone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      personnelType = #{personneltype,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      workDate = #{workdate,jdbcType=DATE},
      highSchool = #{highschool,jdbcType=VARCHAR},
      finishSchool = #{finishschool,jdbcType=VARCHAR},
      finishSchoolDate = #{finishschooldate,jdbcType=DATE},
      consortName = #{consortname,jdbcType=VARCHAR},
      youngoneName = #{youngonename,jdbcType=VARCHAR},
      officetelePhone = #{officetelephone,jdbcType=VARCHAR},
      consorttelePhone = #{consorttelephone,jdbcType=VARCHAR},
      consortCompany = #{consortcompany,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
