<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhiqiang.lzw.mapping.LogMapper" >
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="cnname" property="cnname" jdbcType="VARCHAR" />
    <result column="actionType" property="actiontype" jdbcType="VARCHAR" />
    <result column="actionDate" property="actiondate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.zhiqiang.lzw.entity.Log" extends="BaseResultMap" >
    <result column="actionContent" property="actioncontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, cnname, actionType, actionDate
  </sql>
  <sql id="Blob_Column_List" >
    actionContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Log" >
    insert into sys_log (id, userName, cnname, 
      actionType, actionDate, actionContent
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{cnname,jdbcType=VARCHAR}, 
      #{actiontype,jdbcType=VARCHAR}, #{actiondate,jdbcType=VARCHAR}, #{actioncontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Log" >
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="cnname != null" >
        cnname,
      </if>
      <if test="actiontype != null" >
        actionType,
      </if>
      <if test="actiondate != null" >
        actionDate,
      </if>
      <if test="actioncontent != null" >
        actionContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="actiontype != null" >
        #{actiontype,jdbcType=VARCHAR},
      </if>
      <if test="actiondate != null" >
        #{actiondate,jdbcType=VARCHAR},
      </if>
      <if test="actioncontent != null" >
        #{actioncontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cnname != null" >
        cnname = #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="actiontype != null" >
        actionType = #{actiontype,jdbcType=VARCHAR},
      </if>
      <if test="actiondate != null" >
        actionDate = #{actiondate,jdbcType=VARCHAR},
      </if>
      <if test="actioncontent != null" >
        actionContent = #{actioncontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    set userName = #{username,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      actionType = #{actiontype,jdbcType=VARCHAR},
      actionDate = #{actiondate,jdbcType=VARCHAR},
      actionContent = #{actioncontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Log" >
    update sys_log
    set userName = #{username,jdbcType=VARCHAR},
      cnname = #{cnname,jdbcType=VARCHAR},
      actionType = #{actiontype,jdbcType=VARCHAR},
      actionDate = #{actiondate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>