<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhiqiang.lzw.mapping.MenuPrivilegeMapper">
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.MenuPrivilegeKey">
    <id column="roleId" jdbcType="VARCHAR" property="roleid" />
    <id column="menuModule" jdbcType="VARCHAR" property="menumodule" />
    <id column="menuPrivilege" jdbcType="VARCHAR" property="menuprivilege" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.MenuPrivilegeKey">
    delete from sys_menu_privilege
    where roleId = #{roleid,jdbcType=VARCHAR}
      and menuModule = #{menumodule,jdbcType=VARCHAR}
      and menuPrivilege = #{menuprivilege,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.MenuPrivilegeKey">
    insert into sys_menu_privilege (roleId, menuModule, menuPrivilege
      )
    values (#{roleid,jdbcType=VARCHAR}, #{menumodule,jdbcType=VARCHAR}, #{menuprivilege,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.MenuPrivilegeKey">
    insert into sys_menu_privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        roleId,
      </if>
      <if test="menumodule != null">
        menuModule,
      </if>
      <if test="menuprivilege != null">
        menuPrivilege,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="menumodule != null">
        #{menumodule,jdbcType=VARCHAR},
      </if>
      <if test="menuprivilege != null">
        #{menuprivilege,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>