<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhiqiang.lzw.mapping.PopedomMapper">
  <resultMap id="BaseResultMap" type="org.zhiqiang.lzw.entity.Popedom">
    <id column="popedomModule" jdbcType="VARCHAR" property="popedommodule" />
    <id column="popedomPrivilege" jdbcType="VARCHAR" property="popedomprivilege" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="popedomName" jdbcType="VARCHAR" property="popedomname" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.zhiqiang.lzw.entity.Popedom">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    popedomModule, popedomPrivilege, sort, title, popedomName
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.PopedomKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_popedom
    where popedomModule = #{popedommodule,jdbcType=VARCHAR}
      and popedomPrivilege = #{popedomprivilege,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.PopedomKey">
    delete from sys_popedom
    where popedomModule = #{popedommodule,jdbcType=VARCHAR}
      and popedomPrivilege = #{popedomprivilege,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.zhiqiang.lzw.entity.Popedom">
    insert into sys_popedom (popedomModule, popedomPrivilege, 
      sort, title, popedomName, 
      remark)
    values (#{popedommodule,jdbcType=VARCHAR}, #{popedomprivilege,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{popedomname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zhiqiang.lzw.entity.Popedom">
    insert into sys_popedom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="popedommodule != null">
        popedomModule,
      </if>
      <if test="popedomprivilege != null">
        popedomPrivilege,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="popedomname != null">
        popedomName,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="popedommodule != null">
        #{popedommodule,jdbcType=VARCHAR},
      </if>
      <if test="popedomprivilege != null">
        #{popedomprivilege,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="popedomname != null">
        #{popedomname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zhiqiang.lzw.entity.Popedom">
    update sys_popedom
    <set>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="popedomname != null">
        popedomName = #{popedomname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where popedomModule = #{popedommodule,jdbcType=VARCHAR}
      and popedomPrivilege = #{popedomprivilege,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.zhiqiang.lzw.entity.Popedom">
    update sys_popedom
    set sort = #{sort,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      popedomName = #{popedomname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where popedomModule = #{popedommodule,jdbcType=VARCHAR}
      and popedomPrivilege = #{popedomprivilege,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhiqiang.lzw.entity.Popedom">
    update sys_popedom
    set sort = #{sort,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      popedomName = #{popedomname,jdbcType=VARCHAR}
    where popedomModule = #{popedommodule,jdbcType=VARCHAR}
      and popedomPrivilege = #{popedomprivilege,jdbcType=VARCHAR}
  </update>
</mapper>